@model fluffyUnicorns.Models.bookmark

@{
    ViewBag.Title = "Add Your Bookmarks!";
}

<h2>Create</h2>

<div class="row">
<div class="large-6 medium-12 small-12 columns">
    <p>Add a new Bookmark here.</p>
    <span style="color:red">@ViewBag.result</span>
        
    @using (Html.BeginForm("Create","bookmark", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
               
        
        @Html.LabelFor(model => model.fileName, "Title")
        @Html.EditorFor(model => model.fileName)
        @Html.ValidationMessageFor(model => model.fileName)

        @*REDUNDANT?*@
        @Html.LabelFor(model => model.fileDescription, "Description")
        @Html.EditorFor(model => model.fileDescription)
        @Html.ValidationMessageFor(model => model.fileDescription)
               
        @Html.LabelFor(model => model.url, "URL")
        @Html.EditorFor(model => model.url)
        @Html.ValidationMessageFor(model =>model.url)
               
        @*REDUNDANT?*@
        @Html.LabelFor(model => model.browser, "Browser")
        @Html.EditorFor(model => model.browser)
        @Html.ValidationMessageFor(model => model.browser)         
        <br />
         @Html.LabelFor(model => model.fileData, "Upload Exported HTML Bookmarks")
        @Html.TextBoxFor(model => model.fileData, new { type = "file"})
           @Html.ValidationMessageFor(model => model.fileData)

        <br />
        <input type="submit" value="Submit" class="button" />
        <a class="helpb" href="@Url.Action("Help", "Home")">Help</a>
    }
</div>


</div>
</div>

@Html.ActionLink("Back to List", "Index")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
