@model IEnumerable<fluffyUnicorns.Models.bookmark>


@{ViewBag.Title = "Index";}

<h2>My Cloud Markers</h2>

<div class="large-6 medium-12 small-12 columns bkmk">
    <h3>Imported Bookmarks</h3>
    <div class="addedit">
        @Html.ActionLink("Import Bookmarks", "Create")
        <br /><br />
    </div>

<br />
@foreach (var item in Model)
{
    if(item.fileName != null)
    {
    <br />
    <div class="bookmark">
        <span class="del">@Html.ActionLink("x","Delete", new {Id = item.Id})</span>

        <a href="~/files/@item.fileData">@Html.DisplayFor(ModelItem => item.fileName)</a>
            
        <span class="edit">@Html.ActionLink("Edit","Edit", new {Id = item.Id})</span>       
    </div>
    }
}

</div>

     
<div class="large-6 medium-12 small-12 columns lk">
    <h3>Links</h3>
    <div class="addedit">
        @Html.ActionLink("Add a Link", "AddLink")
        <br /><br />
    </div>

    @foreach (var item in Model)
    {
        if(item.title != null)
        {
        <br />
        <div class="links">
        
            <span class="del">@Html.ActionLink("x","Delete", new {Id = item.Id})</span>

            <a href="@Html.DisplayFor(ModelItem => item.url)">@Html.DisplayFor(ModelItem => item.title)</a>
            
            <span class="edit">@Html.ActionLink("Edit","EditLink", new {Id = item.Id})</span>
        </div>
    }
    }
    
    
    
    
    
  